[Unit]
Description=FastAPI Backend Service
After=network.target

[Service]
User=root
WorkingDirectory=/home/ec2-user/backend
Environment=PATH=/root/.cargo/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment="DYNACONF_DRY_RUN=false"
ExecStart=/root/.cargo/bin/uv run fastapi run src/webgwas_backend/main.py  --host localhost --port 8000
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
