[Unit]
Description=Next.js Frontend Service
After=network.target

[Service]
User=root
WorkingDirectory=/home/ec2-user/frontend
Environment=PATH=/root/.bun/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/root/.bun/bin/bun --env-file=.env run start --port 3000
Restart=always

[Install]
WantedBy=multi-user.target
