[Unit]
Description=WebGWAS Frontend Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/webgwas-frontend
ExecStart=/root/.bun/bin/bun run next start
Restart=on-failure

[Install]
WantedBy=multi-user.target
