server {
    listen 80;
    server_name {{ domain_name }} www.{{ domain_name }};

    # Required for Let's Encrypt verification
    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }
}
