# Include the default Nginx mime types
include /etc/nginx/mime.types;

# HTTP server block (redirects to HTTPS)
server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name api.webgwas.org www.api.webgwas.org;
}
