[Unit]
Description=WebGWAS Backend Service
After=network.target

[Service]
User={{ app_user }}
WorkingDirectory={{ app_path }}
Environment="RUST_LOG=info"
ExecStart={{ backend_dest }}
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
